{% extends 'index.html.twig' %}

{% block title %}New Likes{% endblock %}

{% block body %}
 <style>     header.topbarr {
            background-color: #BB0000 !important;
        }
        h1 {
            text-align: center; /* Centrer le titre */
            color: #f48b52; /* Rouge */
            font-size: 24px;
            margin-bottom: 20px;
            font-family: 'Arial', sans-serif;
        }
      
    </style>

    <h1>Create new Likes</h1>

    {{ include('likes/_form.html.twig') }}

    <a href="{{ path('app_likes_index') }}">back to list</a>
{% endblock %}
